body { background: #6699CC;}

#main-container {width: 940px; margin: 0 auto 2em; padding-bottom: 1em; background: white;}
#content { padding: 1em; }

a, a.visited { color: #045290;}

.search-banner { margin: 5em auto; background: #EEE; padding: 1em; text-align: center;}
.search-banner h1 { color: #045290; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-weight: bold; font-size: 2.5em;}

