<div class="search-banner">
	<h1><%= link_to "WADRC Readmes", root_path %></h1>
	<%= form_for @search do |f| %>
		<%= f.text_field :filepath_or_owner_or_content_contains %>
		<%= f.submit "Search" %>
	<% end %>
</div>